@tailwind base;
@tailwind components;
@tailwind utilities;

.customRadioButton {
    @apply border border-black h-7 w-7
        checked:border-black
        checked:bg-checkedRadioButton
        checked:bg-white
        cursor-pointer
        focus:bg-white
        checked:focus:bg-white;
}

.formField {
    @apply rounded-xl border-black px-7.5 py-5.5 mt-1;
}

.slick-prev:before,
.slick-next:before {
    content: "" !important;
}

.slick-dots {
    bottom: -15px !important;

    li.slick-active button:before,
    li button:before {
        color: white !important;
        background-image: url("/images/CustomDot.svg");
        background-repeat: no-repeat;
        content: "" !important;
        opacity: 1 !important;
    }
}

.slick-dots li.slick-active button:before {
    background-image: url("/images/CustomActiveDot.svg");
}

.accordionIcon {
    max-width: 3.625rem;
    max-height: 3.625rem;
}

@media screen and (max-width: 1024px) {
    .accordionIcon {
        width: 1.875rem;
        height: 1.875rem;
    }
}
