@import "tailwindcss";

@theme {
  --color-green: #b9ff66;
  --color-grey: #f3f3f3;
  --color-dark: #191a23;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button,
a {
  @apply cursor-pointer;
}

h1 {
  @apply lg:text-6xl xl:leading-[1.5] text-[43px];
}

h2 {
  @apply lg:text-[40px] text-4xl;
}

h3 {
  @apply lg:text-3xl text-[26px];
}

h4 {
  @apply lg:text-xl text-lg;
}

h5 {
  @apply lg:text-lg text-base;
}
