@import "tailwindcss";

@theme {
  --color-green: #b9ff66;
  --color-grey: #f3f3f3;
  --color-dark: #191a23;
  --shadow-box: 0px 5px 0px 0px #000000;

  --drop-shadow-svg: 5px 5px 0px #000;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button,
a {
  @apply cursor-pointer;
}

h1 {
  @apply font-semibold lg:text-6xl xl:leading-[1.5] text-[43px];
}

h2 {
  @apply lg:text-[40px] text-4xl;
}

h3 {
  @apply font-semibold lg:text-3xl text-2xl;
}

h4 {
  @apply font-medium lg:text-xl text-lg;
}

p,
label {
  @apply lg:text-lg text-base;
}

input[type="radio"] {
  @apply size-7 appearance-none border border-black rounded-full m-0 cursor-pointer;

  &::after {
    @apply content-[''] block size-[18px] rounded-full m-1;
  }

  &:checked::after {
    @apply bg-green;
  }
}

input[type="text"],
input[type="email"],
textarea {
  @apply rounded-2xl p-5 border border-black bg-white;
}

.slick-dots li.slick-active button:before {
  @apply !text-green !opacity-100;
}

.slick-dots li button:before {
  @apply !text-white !opacity-100;
}
